

.card{
  text-align: "center";
  width: 900px;
  margin: 10px auto;
  padding: 20px;
}

.box{
  text-align: "center";
  min-height: 340px;
}

.more{
  display: flex;
  justify-content: center;
  margin: 20px;
}



